      .char1{
        color:rgb(0,200,200);
      }
      .char2{
        color:rgb(225,125,91);
      }
      .char3{
        color:rgb(150,150,220);
      }
      .datlis{
        width:60mm;
        height:10mm;
        background: rgb(255,255,255);
        position:absolute;
        left: 200mm;
        top: 7mm;
        outline-style:solid;
        outline-color:rgb(0,0,0);
        outline-width:thin;
      }
      .plis{
        width:10mm;
        background: rgb(100,100,100);
        position:absolute;
        left: 7mm;
        top: 27mm;
        outline-style:solid;
        outline-color:rgb(0,0,0);
        outline-width:thin;
      }
      .ipt1{
        width:60mm;
        height:10mm;
      }
